.navigationHeader{
	height: 8rem;
	display: flex;
	justify-content: space-between;
	padding: 0 2%;
}

footer {
	height: 6rem; 
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: solid black 1px;
	margin-bottom: 0!important;
}

.paddingCont{
	padding: 1%;
}

.vert-Cont{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.horz-Cont{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.helpFooter{
	height: 100%;
}
.logoFooter{
	margin-bottom: 0;
}

.icon-tractor{
	font-size: 5em;
}
.icon-samhasth{
	font-size: 10em;
	color: red;
}
.icon-logo{
	font-size: 5em;
	color: #04C066;
}