.navigationHeader{
	height: 8rem;
	display: flex;
	justify-content: space-between;
	padding: 0 2%;
}

footer {
	height: 7.5rem; 
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: solid black 1px;
	
}
.removeBottomM{
	margin-bottom: 0!important;
}

.paddingCont{
	padding: 1.5rem;
}

.vert-Cont{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.horz-Cont{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.iconSize{
	font-size: 5rem;
}
.parkingList{
	font-size: xx-large;
}
.icon-samhasth{
	font-size: 8rem;
	color: red;
}
.icon-logo{
	font-size: 5rem;
	color: #04C066;
}